## Hotel Data Analytics

### Data Exploration

In [1]:
import pandas as pd

In [3]:
df_bookings=pd.read_csv("C:/Users/harsh/Downloads/64101194a2364/source-code/3_project_hospitality_analysis/datasets/fact_bookings.csv")

In [9]:
df_bookings.head(4)

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,May012216558RT11,16558,27-04-22,1/5/2022,2/5/2022,-3.0,RT1,direct online,1.0,Checked Out,10010,10010
1,May012216558RT12,16558,30-04-22,1/5/2022,2/5/2022,2.0,RT1,others,NaN,Cancelled,9100,3640
2,May012216558RT13,16558,28-04-22,1/5/2022,4/5/2022,2.0,RT1,logtrip,5.0,Checked Out,9100000,9100
3,May012216558RT14,16558,28-04-22,1/5/2022,2/5/2022,-2.0,RT1,others,NaN,Cancelled,9100,3640

In [5]:
df_bookings.shape

(134590, 12)

In [7]:
df_bookings.room_category.unique()

array(['RT1', 'RT2', 'RT3', 'RT4'], dtype=object)

In [8]:
df_bookings.booking_platform.unique()

array(['direct online', 'others', 'logtrip', 'tripster', 'makeyourtrip',
       'journey', 'direct offline'], dtype=object)

In [12]:
df_bookings.booking_platform.value_counts()

booking_platform
others            55066
makeyourtrip      26898
logtrip           14756
direct online     13379
tripster           9630
journey            8106
direct offline     6755
Name: count, dtype: int64

In [20]:
df_bookings.booking_platform.value_counts().plot(kind="barh")

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [21]:
df_bookings.describe()

,property_id,no_guests,ratings_given,revenue_generated,revenue_realized
count,134590.000000,134587.000000,56683.000000,1.345900e+05,134590.000000
mean,18061.113493,2.036170,3.619004,1.537805e+04,12696.123256
std,1093.055847,1.034885,1.235009,9.303604e+04,6928.108124
min,16558.000000,-17.000000,1.000000,6.500000e+03,2600.000000
25%,17558.000000,1.000000,3.000000,9.900000e+03,7600.000000
50%,17564.000000,2.000000,4.000000,1.350000e+04,11700.000000
75%,18563.000000,2.000000,5.000000,1.800000e+04,15300.000000
max,19563.000000,6.000000,5.000000,2.856000e+07,45220.000000

In [22]:
df_date=pd.read_csv("C:/Users/harsh/Downloads/64101194a2364/source-code/3_project_hospitality_analysis/datasets/dim_date.csv")
df_hotels=pd.read_csv("C:/Users/harsh/Downloads/64101194a2364/source-code/3_project_hospitality_analysis/datasets/dim_hotels.csv")
df_rooms=pd.read_csv("C:/Users/harsh/Downloads/64101194a2364/source-code/3_project_hospitality_analysis/datasets/dim_rooms.csv")
df_agg_bookings=pd.read_csv("C:/Users/harsh/Downloads/64101194a2364/source-code/3_project_hospitality_analysis/datasets/fact_aggregated_bookings.csv")

In [23]:
df_hotels.shape

(25, 4)

In [24]:
df_hotels.head(4)

   property_id  property_name  category    city
0        16558   Atliq Grands    Luxury   Delhi
1        16559  Atliq Exotica    Luxury  Mumbai
2        16560     Atliq City  Business   Delhi
3        16561      Atliq Blu    Luxury   Delhi

In [25]:
df_hotels.category.value_counts()

category
Luxury      16
Business     9
Name: count, dtype: int64